.entry-header {
  margin: 100px 0;
  h1 {
    font-size: 3em;
  }
}

.entry-content {
  line-height: 1.8;
  margin: 100px auto;
  width: 50%;
  @media screen and (max-width: 1200px) {
    width: 70%;
  }
  @media screen and (max-width: 830px) {
    width: 95%;
    margin: 50px auto;
  }
  p {
    font-size: 1.2em;
    @media screen and (max-width: 830px) {
      font-size: .9em;
    }
  }
}

.custom-page-header {
  text-align: center;
  font-size: 3em;
  font-weight: normal;
}


.page-on-page {
  margin: 100px 0;
  p {
    line-height: 2;
    width: 50%;
    margin: 0 auto;
  }
}

.service-link {
  display: inline-block;
  border-bottom: 1px dotted $omega;
  color: $omega;
  padding-bottom: 4px;
  margin-top: 10px;
}

.alt {
  width: 80%;
}